n8n_payment_success.json
{
  "name": "Payment Success Workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "payment-success",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-payment-success",
      "name": "Webhook - Payment Success",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        250,
        300
      ],
      "webhookId": "payment-success-webhook"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "condition-1",
              "leftValue": "={{ $json.body?.status || $json.status }}",
              "rightValue": "success",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-payment-success",
      "name": "IF Payment Success",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        450,
        300
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE orders SET status = 'paid', updated_at = NOW() WHERE order_uuid = '{{ $json.body?.order_uuid || $json.order_uuid }}'::uuid RETURNING order_uuid::text",
        "options": {}
      },
      "id": "update-order-status",
      "name": "Update Order Status",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        650,
        200
      ],
      "credentials": {
        "postgres": {
          "id": "postgres-cred",
          "name": "PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8000/api/v1/exit-qr/internal/generate",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Internal-Secret",
              "value": "n8n-internal-secret-key"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ order_uuid: $('Webhook - Payment Success').item.json.body?.order_uuid || $('Webhook - Payment Success').item.json.order_uuid }) }}",
        "options": {}
      },
      "id": "generate-exit-qr",
      "name": "Generate Exit QR",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        850,
        200
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE products p SET stock = stock - oi.quantity FROM order_items oi WHERE oi.order_uuid = '{{ $('Webhook - Payment Success').item.json.body?.order_uuid || $('Webhook - Payment Success').item.json.order_uuid }}'::uuid AND p.product_uuid = oi.product_uuid",
        "options": {}
      },
      "id": "update-inventory",
      "name": "Update Inventory",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        1050,
        200
      ],
      "credentials": {
        "postgres": {
          "id": "postgres-cred",
          "name": "PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, message: 'Payment processed and exit QR generated', order_uuid: $('Webhook - Payment Success').item.json.body?.order_uuid || $('Webhook - Payment Success').item.json.order_uuid }) }}",
        "options": {}
      },
      "id": "respond-success",
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1250,
        200
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: false, message: 'Payment was not successful', received_data: $json }) }}",
        "options": {}
      },
      "id": "respond-failure",
      "name": "Respond Failure",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        650,
        400
      ]
    }
  ],
  "connections": {
    "Webhook - Payment Success": {
      "main": [
        [
          {
            "node": "IF Payment Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Payment Success": {
      "main": [
        [
          {
            "node": "Update Order Status",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Failure",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Order Status": {
      "main": [
        [
          {
            "node": "Generate Exit QR",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Exit QR": {
      "main": [
        [
          {
            "node": "Update Inventory",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Inventory": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "timezone": "Asia/Kolkata"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-02-09T16:38:00.000Z",
  "versionId": "7"
}